h1 {
    color: var(--secondary-color);
    font-size: 16px;
}

#info {
    cursor: pointer;
}

.form-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px'
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    background-color: var(--primary-color);
    gap: 10px;
}

form label {
    color: var(--terciary-color);
    font-size: 12px;
}

form input {
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    padding: 5px;
    color: var(--terciary-color);
    font-size: 12px;
}

button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}
